
body {
	padding: 6px;
	margin: 0;
	/* background: #FFFBF5; */
	font-family:"Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",Osaka,sans-serif;
	font-size:13px;
	min-width:760px;
}

img {
	border:0;
}

div.gnav {
	background:black;
	padding:8px;
	color: white;
	text-align: right;
	margin-bottom: 4px;
	line-height: 1em;
}

div.gnavb {
	background:black;
	padding:8px;
	color: white;
	text-align: right;
	margin-top: 4px;
}

div.gnav a,
div.gnavb a {
	text-decoration:none;
	color:white;
}

div.gnav a:active,
div.gnavb a:hover {
	text-decoration:none;
	color:white;
}

div.gnav a:visited,
div.gnavb a:visited {
	text-decoration:none;
	color:white;
}

div.gnav a:hover,
div.gnavb a:hover {
	color:white;
	text-decoration:underline;
}




h3 {
	font-size:105%;
}

#main {
	width: 100%;
}



#menu {
	float: right;
	width: 243px;
	margin: 6px 6px 0 6px;
}

#menu ul,li {
	margin:0;
	padding:0;
	line-height:0;
	border:0;
}

#menu li {
	list-style-type:none;
	width:243px;
}




#grid-content {
	overflow: hidden;
	height: 0;
	margin-left: 4px;
	margin-right: 4px;
}




#grid-content div {
	width: 225px;
	color: #333333;
	margin: 0px;
	padding: 8px;
	background: #ffffff;
}
#grid-content div.large {
	width: 466px;
}
#grid-content div.large3col {
	width: 707px;
}
#grid-content div h3 {
	line-height: 1.2;
	padding: 0;
	margin: 6px 0;
}
#grid-content div p {
	margin: 0;
	padding: 0;
}

div.portraits {
	padding-top:10px;
}

img.itsnew {
	position:absolute;
	top:8px;
	right:8px;
}

.focus {
	background:gray;
	color:white;
	padding:2px;
}


.clear {
	clear:both;
	font-size:0;
	height:0;
	line-height:0;
	margin:0;
	padding:0;
}

ul.sidemenu {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 0;
	list-style: none;
}

ul.sidemenu img {
	margin-bottom: 0px;
}
ul.sidemenu img{
	max-width: 100%;
}
ul.sidemenu {
	background: #313131;
	max-width: 225px;
	padding-left: 0;
}
ul.sidemenu a:hover{
	background: #616161;
}
ul.sidemenu a{
	height: 33px;
	display: block;
	line-height: 33px;
	color: #aaa;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	padding-left: 20px;
	font-family: Times New Roman;
}

.live a{
	background-image: url(../images/live_off.gif);
}
.live a:hover{
	background-image: url(../images/live_on2.gif) !important;
}
.media a{
	background-image: url(../images/media_off.gif);
}
.media a:hover{
	background-image: url(../images/media_on2.gif) !important;
}

/*]]>*/
