/*
 * PHOTO YODOBASHI v3.0
 */
@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Ruda:400,700|Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300&subset=latin,greek-ext);

.small { font-size: 80%; }
.xsmall { font-size: 70%; }
.gray { color: #777; }
.red { color: #f00; }

blockquote { max-width: 900px; margin: 30px auto; padding: 10px 20px; background: #eee; border: solid 1px #ccc; border-radius: 8px; text-align: justify; }
blockquote h3 { margin: 5px 0 0 0 !important; padding: 0 !important; font-size: 13pt !important; color: #333 !important; font-weight: bold !important; }
blockquote p { margin: 15px 0 !important; padding: 0 !important; font-size: 11pt !important; color: #333 !important; }

/* bootstrap overlap */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 990px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 990px !important;
  }
}

/* Font */
body { margin: 0; padding: 0; font-family: "Lucida Grande", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; }
body.en { margin: 0; padding: 0; font-family: "Lucida Grande", sans-serif, Helvetica; }
h1,h2,h3,h4,h5,h6,h7,p {
	font-family: 'Open Sans', "Lucida Grande", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
header h1 { font-family: Ruda, Helvetica, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; }
.main-nav { font-family: Ruda, Helvetica, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; }

/* Color */
a { color: #546E7A; }
a:visited { color: #546E7A; }
a:hover { color: #B71C1C; text-decoration:none; }

/* Parts */
hr {
	height: 1px;
	background: #bbb;
	background-image: -webkit-linear-gradient(left, #ebebe8, #bdbdb8, #ebebe8);
	background-image: -moz-linear-gradient(left, #ebebe8, #bdbdb8, #ebebe8);
	background-image: -ms-linear-gradient(left, #ebebe8, #bdbdb8, #ebebe8);
	background-image: -o-linear-gradient(left, #ebebe8, #bdbdb8, #ebebe8);
}
@media screen and (min-width: 600px) {
	hr {
		width: 60%;
		margin: 80px auto;  
	}
}
@media screen and (max-width: 599px) {
	hr {
		width: 80%;
		margin: 50px auto;
		}
}

.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 2px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #546E7A;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #546E7A;
  background-color: #fff;
}

header h1 {
	font-weight: bold;
	font-size: 20pt;
	letter-spacing: 0.1em;
}
header h1 a {
	color: black !important;
}
header h1 a:hover {
	text-decoration: none;
}
header .sub-title {
	font-size: 8.5pt;
	margin: -12px 0 10px 0;
	letter-spacing: 0.1em;
}

main img { 
	width: 100%;
	margin-bottom: -15px;
}
main p {
	margin: 25px 0 50px 0;
	line-height: 1.6;
	font-size: 11pt;
	text-align: justify;
}
main p.center {
	text-align: center;
}
main p.sign {
	margin: -20px 0 40px 0;
	text-align: right;
}
main p.date {
	font-size: 80%;
	text-align: right;
}
main h1 {
	font-weight: bold;
	text-align: center;
	font-size: 16pt;
	margin: 60px 0 40px;
}
main h1 span {
	font-weight: normal;
}
main h1 .label {
	font-weight: normal;
	font-size: 60% !important;
}
main h2 {
	font-weight: bold;
	text-align: center;
	font-size: 15pt;
	margin: 45px 0 40px;
	line-height: 1.3em;
}
main h2 span {
	font-weight: normal;
	font-size: 12pt;
}
main h5 {
	margin-bottom: -20px;
	padding: 0;
	font-size: 110%;
	font-weight: bold;
}


@media screen and (max-width: 991px) {
}
@media screen and (max-width: 549px) {
	main h1 {
		text-align: left;
		line-height: 1.4;
		margin: 20px 0 20px;
	}
	main h2 {
		text-align: left;
		line-height: 1.4;
	}
}

section {
	clear: left;
}

p.note {
}
p.sub-note {
	margin-top: -20px;
	font-size: 90%;
	padding: 0 10px;
}
@media screen and (max-width: 991px) {
	p.sub-note {
		margin-top: -20px;
		margin-bottom: 15px;
		font-size: 90%;
		padding: 0 10px;
	}
}

#camera-page h2, #index-page h2 {
	font-weight: 400;
	text-align: left;
	border-bottom: solid 1px #ccc;
	padding: 10px 5px;
}
#camera-page h2 a, #index-page h2 a {
	color: black !important;
}
#camera-page h2 a:hover, #index-page h2 a:hover {
	text-decoration: none;
}

main h3 {
	font-weight: 200;
	text-align: left;
	font-size: 14pt;
	margin: 30px 0 20px;
}

footer {
	clear: both;
	border-top: solid 1px #eee;
	padding: 20px 0;
}
footer.ft-pagetop {
	border: none;
	margin-top: 30px;
	font-weight: normal;
	text-align: right;
	padding: 0;
}
footer.ft-pagetop a {
	font-weight: normal;
}
footer.ft-recommend {
	background: #5a5a58;
	color: white;
}
footer.ft-recommend article {
	margin-bottom: 20px;
}
footer.ft-recommend a {
	color: #eee;
	font-size: 90%;
	margin-bottom: 15px;
	display: block;
}
footer.ft-recommend p {
	height: auto;
	overflow: hidden;
}
@media (min-width: 768px) {
	footer.ft-recommend p {
		height: 228px;
	}
}
@media (min-width: 992px) {
	footer.ft-recommend p {
		height: 140px;
	}
}


footer.ft-navi {
	background: #ebebe8;
}
footer.ft-navi .site-title {
	font-family: Ruda, Helvetica, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	background-image: url(../img/py-logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 5px 0 5px 50px;
}
footer.ft-navi .site-title a {
	color: black;
	font-weight: bold;
	font-size: 18px;
}
footer.ft-navi .sub-title {
	font-size: 60%;
	font-weight: normal;
}
footer.ft-navi h5 {
	font-weight: bold;
	font-size: 105%;
	border-bottom: solid 1px #999;
	padding: 5px 0 5px 0;
}
footer.ft-navi ul {
	list-style-type: disc;
	padding: 0 0 0 2em;
}
footer.ft-navi ul.main-ft-navi {
	padding: 0.5em 0 0 5em;
}
@media (max-width: 991px) {
	footer.ft-navi .site-title {
		background-image: none;
		background-repeat: no-repeat;
		background-size: contain;
		padding: 5px 0 5px 0;
	}
	footer.ft-navi ul.main-ft-navi {
	padding: 0 0 0 2em;
	}
}
footer.ft-navi .link-block {
	margin-bottom: 20px;
}
footer.ft-bottom {
	background: white;
	padding: 20px 0;
}
footer .bottom-link {
	font-size: 80%;
	margin-left: 1em;
}
@media (max-width: 768px) {
	footer .bottom-logo {
		text-align: center;
	}
	footer .bottom-link {
		display: block;
		margin-left: 0;
		padding: 10px 0;
	}
}
footer .copyright {
	text-align: right;
	font-size: 80%;
}
@media (max-width: 768px) {
	footer .copyright {
		text-align: center;
	}
}

/* Override */
.breadcrumb {
	margin-bottom: 0;
	background: #ebebe8;
	font-size: 9pt;
	color: #546E7A;
	font-weight: medium;
	border-radius: 3px 3px 0 0;
}
.breadcrumb a, .breadcrumb a:visited {
	color: #37474F;
}
.breadcrumb a:hover {
	color: #B71C1C;
}
.breadcrumb>li+li:before {
    content: "> ";
	color: #78909C;
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 549px) {
	.breadcrumb {
		font-size: 7pt;
	}
}

#lang-switch {
	margin-bottom: 0;
	background: #B0BEC5;
	border-left: solid 1px #ECEFF1;
	color: #37474F;
	border-radius: 0 2px 0 0;
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
	right: 15px;
	text-align: center;
}
#lang-switch a {
	line-height: 35px;
	color: #37474F;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 12px;
}
#lang-switch a:before {
    content: "> ";
}
@media screen and (max-width: 549px) {
	#lang-switch {
		background: transparent;
		border: none;
		color: #37474F;
		border-radius: 0;
		position: relative;
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
		text-align: right;
		font-size: 8px;
	}
}



/* Layout */
.main-nav {
	margin-top: 12px;
}
@media screen and (max-width: 991px) {
	.main-nav {
		font-size: 11px;
	}
}
@media screen and (max-width: 549px) {
	.main-nav {
		font-size: 10px;
		margin-bottom: 10px;
	}
	.main-nav .nav>li>a {
		padding: 8px 6px !important;
	}
}

/* Cart */
.shoppingimg {
	text-align: center;
	padding: 15px;
}
.ptitle {
	font-size: 110%;
}
.plead {
	margin: 5px 0 10px 0;
}
.price {
	font-size: 120%;
	color: #c00;
}
.price .tax {
	font-size: 80%;
	color: #666;
}
a.Prd-productUrlRef {
	color: #000;
	font-weight: bold;
}
.fixedprice {
	color: #666;
	font-size: 90%;
	margin: 5px 0 10px 0;
}
.cartBtnImg {
	text-align: right;
	margin-bottom: 30px;
}
.deliInfo {
	margin-bottom: 10px;
}

div#snsButton {
	clear: both;
	padding: 50px 0 30px 0;
}
div#snsButton ul {
	margin: -50px 0 0 0;
	padding: 0 0 50px 0;
}
div#snsButton ul li {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

article.camera {
	background: #ebebe8;
	height: 360px;
	margin: 0 0 20px 0;
}
article.lens {
	background: #ebebe8;
	height: 280px;
	margin: 0 0 20px 0;
}
@media (max-width: 991px) {
	article.camera {
		height: 380px;
	}
	article.lens {
		height: 340px;
	}
}
@media (max-width: 767px) {
	article.camera {
		height: auto;
	}
	article.lens {
		height: auto;
	}
}

article.camera p, article.lens p {
	padding: 15px;
	margin: 0;
	line-height: 1.4;
	font-size: 10pt;
	text-align: left;
}
article.camera p.img, article.lens p.img {
	padding: 1px;
	margin: 0 0 15px 0;
}
article.camera p.img span, article.lens p.img span {
	position: absolute;
	display: inline-block;
	text-align: center;
	padding: 5px 10px;
	width: 100px;
	background: #C62828;
	color: white;
	font-size: 80%;
	top: 15px;
	right: 10px;
	box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
}

article.camera h3, article.lens h3 {
	font-size: 16pt;
	margin: 0;
	padding: 15px 15px 0 15px;
	line-height: 1;
}

/* lens-table */
table.lens-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: 'Open Sans', "Lucida Grande", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 90%;
    line-height: 1;
    margin-bottom: 40px;
}
table.lens-table th, table.lens-table td {
    padding: 10px;
}
table.lens-table th {
    font-weight: normal;
    background: black;
    color: white;
    font-size: 80%;
    border-right: solid 1px #ccc;
}
table.lens-table td {
    text-align: center;
    border-bottom: solid 1px #666;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    font-size: 90%;
}
table.lens-table td.name {
    text-align: left;
    font-size: 100%;
    line-height: 1.7;
}
table.lens-table img.thumbs {
	margin: 0;
	width: 50px;
}

.lens-type {
    list-style-type: none;
    font-size: 80%;
    float: left;
    padding: 0;
}
.lens-type li {
    float: left;
    padding: 5px 10px;
    margin-right: 3px;
}
.lens-type li.active {
    background: #546E7A;
    color: white;
}
.lens-type li.header {
	font-weight: bold;
	font-size: 110%;
    background: #ebebe8;
    color: black;
    border-radius: 5px;
}
.lens-type li a {
    color: black;
    text-decoration: none;
}
.lens-type li.active a {
    color: white;
}
@media screen and (max-width: 549px) {
    .lens-type {
        font-size: 70%;
        float: left;
        padding: 10px 0;
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
    }
    .lens-type li {
        float: left;
        padding: 3px 6px;
        margin-right: 3px;
    }
	.lens-type li.header {
		display: none;
	}
}

.maker-filter {
	clear: both;
	font-size: 8pt;
	float: right;
}
.maker-filter .nav-item a {
	padding: 4px 10px 3px 10px !important;
}
.maker-filter li.active a, .maker-filter li.active a:hover {
	background: #000;
	color: white;
}
@media screen and (max-width: 549px) {
	.maker-filter {
		clear: both;
		font-size: 7pt;
		float: right;
	}
	.maker-filter .nav-item a {
		padding: 4px 2px 3px 2px !important;
	}
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-review {
    background-color: black;
    border: solid 1px black;
    color: white;
    font-weight: bold !important;
}
.label-default {
    background-color: #fff;
    border: solid 1px #ccc;
    color: black;
    font-weight: normal !important;
}
.label-apsc {
    background-color: #FFAB40;
    color: black;
}

.lens-spec {
    height: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    font-size: 60%;
}
.lens-spec .lens-bar-clear {
    float: left;
    width: 0;
    height: 100%;
    line-height: 20px;
    color: #000;
    text-align: left;
    background-color: transparent;
}
.lens-spec .lens-bar-clear span {
    color: #FFC107;
    font-size: 200%;
}
.lens-spec .lens-bar {
    float: left;
    width: 0;
    height: 100%;
    line-height: 20px;
    color: #000;
    text-align: center;
    background-color: #FFC107;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
/* 明るめ */
.f2 .lens-bar {
    background-color: #FFC107;
} 
.f2 .lens-bar-clear span {
    color: #FFC107;
} 
/* 大口径 */
.f1 .lens-bar {
    background-color: #FFC107;
} 
.f1 .lens-bar-clear span {
    color: #FFC107;
} 

p.lensCategory { margin: -15px 0 30px 0; text-align:center; font-size:86%; }
p.lensCategory a.focus { color:#C62828; font-weight:bold; }

/* photo size */
p.w960, 
p.w150, 
p.w300, 
p.w330, 
p.w450, 
p.w455, 
p.w460, 
p.w466, 
p.w467, 
p.w490, 
p.w506, 
p.w507, 
p.w519, 
p.w520, 
p.w521, 
p.w530, 
p.w531, 
p.w532, 
p.w533, 
p.w534, 
p.w535, 
p.w540, 
p.w562, 
p.w563, 
p.w570, 
p.w572, 
p.w573, 
p.w599, 
p.w600, 
p.w638, 
p.w639, 
p.w640, 
p.w641, 
p.w642, 
p.w643, 
p.w644, 
p.w645, 
p.w660, 
p.w700, 
p.w720, 
p.w800 { margin: 15px 0 !important; display: block; clear:both; }

p.w960 img { width: 100%; max-width: 960px; min-width: 300px; margin: 0 auto !important; padding: 0; }

p.w150l img, p.w150r img, p.w150 img { max-width: 150px; }
p.w300l img, p.w300r img, p.w300 img { max-width: 300px; }
p.w330l img, p.w330r img, p.w330 img { max-width: 330px; }
p.w450l img, p.w450r img, p.w450 img { max-width: 450px; }
p.w455l img, p.w455r img, p.w455 img { max-width: 455px; }
p.w460l img, p.w460r img, p.w460 img { max-width: 460px; }
p.w466l img, p.w466r img, p.w466 img { max-width: 466px; }
p.w467l img, p.w467r img, p.w467 img { max-width: 467px; }
p.w490l img, p.w490r img, p.w460 img { max-width: 490px; }
p.w506l img, p.w506r img, p.w506 img { max-width: 506px; }
p.w507l img, p.w507r img, p.w507 img { max-width: 507px; }
p.w519l img, p.w519r img, p.w519 img { max-width: 519px; }
p.w520l img, p.w520r img, p.w520 img { max-width: 520px; }
p.w521l img, p.w521r img, p.w521 img { max-width: 521px; }
p.w530l img, p.w530r img, p.w530 img { max-width: 530px; }
p.w531l img, p.w531r img, p.w531 img { max-width: 531px; }
p.w532l img, p.w532r img, p.w532 img { max-width: 532px; }
p.w533l img, p.w533r img, p.w533 img { max-width: 533px; }
p.w534l img, p.w534r img, p.w534 img { max-width: 534px; }
p.w535l img, p.w535r img, p.w535 img { max-width: 535px; }
p.w540l img, p.w540r img, p.w540 img { max-width: 540px; }
p.w562l img, p.w562r img, p.w562 img { max-width: 562px; }
p.w563l img, p.w563r img, p.w563 img { max-width: 563px; }
p.w570l img, p.w570r img, p.w570 img { max-width: 570px; }
p.w572l img, p.w572r img, p.w572 img { max-width: 572px; }
p.w573l img, p.w573r img, p.w573 img { max-width: 572px; }
p.w599l img, p.w599r img, p.w599 img { max-width: 599px; }
p.w600l img, p.w600r img, p.w600 img { max-width: 600px; }
p.w601l img, p.w601r img, p.w601 img { max-width: 601px; }
p.w638l img, p.w638r img, p.w638 img { max-width: 638px; }
p.w639l img, p.w639r img, p.w639 img { max-width: 639px; }
p.w640l img, p.w640r img, p.w640 img { max-width: 640px; }
p.w641l img, p.w641r img, p.w641 img { max-width: 641px; }
p.w642l img, p.w642r img, p.w642 img { max-width: 642px; }
p.w643l img, p.w643r img, p.w643 img { max-width: 643px; }
p.w644l img, p.w644r img, p.w644 img { max-width: 644px; }
p.w645l img, p.w645r img, p.w645 img { max-width: 645px; }
p.w660l img, p.w660r img, p.w660 img { max-width: 660px; }
p.w700l img, p.w700r img, p.w700 img { max-width: 700px; }
p.w720l img, p.w720r img, p.w720 img { max-width: 720px; }
p.w800l img, p.w800r img, p.w800 img { max-width: 800px; }

p.w150 img { width: 100%; margin: 0 auto !important; padding: 0; display: block; clear:both; }
p.w300 img, 
p.w330 img, 
p.w450 img, 
p.w455 img, 
p.w460 img, 
p.w466 img, 
p.w467 img, 
p.w490 img, 
p.w507 img, 
p.w506 img, 
p.w519 img, 
p.w520 img, 
p.w521 img, 
p.w530 img, 
p.w531 img, 
p.w532 img, 
p.w533 img, 
p.w534 img, 
p.w535 img, 
p.w540 img, 
p.w562 img, 
p.w563 img, 
p.w570 img, 
p.w572 img, 
p.w573 img, 
p.w599 img, 
p.w600 img, 
p.w601 img, 
p.w638 img, 
p.w639 img, 
p.w640 img, 
p.w641 img, 
p.w642 img, 
p.w643 img, 
p.w644 img, 
p.w645 img, 
p.w660 img, 
p.w700 img, 
p.w720 img, 
p.w800 img { width: 100%; min-width: 300px; margin: 0 auto !important; padding: 0; display: block; clear:both; }


@media screen and (min-width: 900px) {
p.w150l, p.w150r, 
p.w300l, p.w300r, 
p.w330l, p.w330r, 
p.w450l, p.w450r, 
p.w455l, p.w455r, 
p.w460l, p.w460r, 
p.w466l, p.w466r, 
p.w467l, p.w467r, 
p.w490l, p.w490r, 
p.w506l, p.w506r, 
p.w507l, p.w507r, 
p.w519l, p.w519r, 
p.w520l, p.w520r, 
p.w521l, p.w521r, 
p.w530l, p.w530r, 
p.w531l, p.w531r, 
p.w532l, p.w532r, 
p.w533l, p.w533r, 
p.w534l, p.w534r, 
p.w535l, p.w535r, 
p.w540l, p.w540r, 
p.w562l, p.w562r, 
p.w563l, p.w563r, 
p.w570l, p.w570r, 
p.w572l, p.w572r, 
p.w573l, p.w573r, 
p.w599l, p.w599r, 
p.w600l, p.w600r, 
p.w601l, p.w601r, 
p.w638l, p.w638r, 
p.w639l, p.w639r, 
p.w640l, p.w640r, 
p.w641l, p.w641r, 
p.w642l, p.w642r, 
p.w643l, p.w643r, 
p.w644l, p.w644r, 
p.w645l, p.w645r, 
p.w660l, p.w660r, 
p.w700l, p.w700r, 
p.w720l, p.w720r, 
p.w800l, p.w800r { margin: 20px 0 !important; padding: 20px 0 !important; }

p.w150l:after, p.w150r:after, 
p.w300l:after, p.w300r:after, 
p.w330l:after, p.w330r:after, 
p.w450l:after, p.w450r:after, 
p.w455l:after, p.w455r:after, 
p.w460l:after, p.w460r:after, 
p.w466l:after, p.w466r:after, 
p.w467l:after, p.w467r:after, 
p.w490l:after, p.w490r:after, 
p.w506l:after, p.w506r:after, 
p.w507l:after, p.w507r:after, 
p.w519l:after, p.w519r:after, 
p.w520l:after, p.w520r:after, 
p.w521l:after, p.w521r:after, 
p.w530l:after, p.w530r:after, 
p.w531l:after, p.w531r:after, 
p.w532l:after, p.w532r:after, 
p.w533l:after, p.w533r:after, 
p.w534l:after, p.w534r:after, 
p.w535l:after, p.w535r:after, 
p.w540l:after, p.w540r:after, 
p.w562l:after, p.w562r:after, 
p.w563l:after, p.w563r:after, 
p.w570l:after, p.w570r:after, 
p.w572l:after, p.w572r:after, 
p.w573l:after, p.w573r:after, 
p.w599l:after, p.w599r:after, 
p.w600l:after, p.w600r:after, 
p.w601l:after, p.w601r:after, 
p.w638l:after, p.w638r:after, 
p.w639l:after, p.w639r:after, 
p.w640l:after, p.w640r:after, 
p.w641l:after, p.w641r:after, 
p.w642l:after, p.w642r:after, 
p.w643l:after, p.w643r:after, 
p.w644l:after, p.w644r:after, 
p.w645l:after, p.w645r:after, 
p.w660l:after, p.w660r:after, 
p.w700l:after, p.w700r:after, 
p.w720l:after, p.w720r:after, 
p.w800l:after, p.w800r:after { content: "."; height: 0; clear: both; display: block; visibility: hidden; }

p.w150l img, 
p.w300l img, 
p.w330l img, 
p.w450l img, 
p.w455l img, 
p.w460l img, 
p.w466l img, 
p.w467l img, 
p.w490l img, 
p.w506l img, 
p.w507l img, 
p.w519l img, 
p.w520l img, 
p.w521l img, 
p.w530l img, 
p.w531l img, 
p.w532l img, 
p.w533l img, 
p.w534l img, 
p.w535l img, 
p.w540l img, 
p.w562l img, 
p.w563l img, 
p.w570l img, 
p.w572l img, 
p.w573l img, 
p.w599l img, 
p.w600l img, 
p.w601l img, 
p.w638l img, 
p.w639l img, 
p.w640l img, 
p.w641l img, 
p.w642l img, 
p.w643l img, 
p.w644l img, 
p.w645l img, 
p.w660l img, 
p.w700l img, 
p.w720l img, 
p.w800l img { margin: 0 25px 15px 0; float: left; }

p.w150r img, 
p.w300r img, 
p.w330r img, 
p.w450r img, 
p.w455r img, 
p.w490r img, 
p.w460r img, 
p.w466r img, 
p.w467r img, 
p.w506r img, 
p.w507r img, 
p.w519r img, 
p.w520r img, 
p.w521r img, 
p.w530r img, 
p.w531r img, 
p.w532r img, 
p.w533r img, 
p.w534r img, 
p.w535r img, 
p.w540r img, 
p.w562r img, 
p.w563r img, 
p.w570r img, 
p.w572r img, 
p.w573r img, 
p.w599r img, 
p.w600r img, 
p.w601r img, 
p.w638r img, 
p.w639r img, 
p.w640r img, 
p.w641r img, 
p.w642r img, 
p.w643r img, 
p.w644r img, 
p.w645r img, 
p.w660r img, 
p.w700r img, 
p.w720r img, 
p.w800r img { margin: 0 0 15px 25px; float: right; }

p.w150l img, p.w150r img { width: 100%; }
p.w300l img, p.w300r img, 
p.w330l img, p.w330r img, 
p.w450l img, p.w450r img, 
p.w455l img, p.w455r img, 
p.w460l img, p.w460r img, 
p.w466l img, p.w466r img, 
p.w467l img, p.w467r img, 
p.w490l img, p.w490r img, 
p.w506l img, p.w506r img, 
p.w507l img, p.w507r img, 
p.w519l img, p.w519r img, 
p.w520l img, p.w520r img, 
p.w521l img, p.w521r img, 
p.w530l img, p.w530r img, 
p.w531l img, p.w531r img, 
p.w532l img, p.w532r img, 
p.w533l img, p.w533r img, 
p.w534l img, p.w534r img, 
p.w535l img, p.w535r img, 
p.w540l img, p.w540r img, 
p.w562l img, p.w562r img, 
p.w563l img, p.w563r img, 
p.w570l img, p.w570r img, 
p.w572l img, p.w572r img, 
p.w573l img, p.w573r img, 
p.w599l img, p.w599r img, 
p.w600l img, p.w600r img, 
p.w601l img, p.w601r img, 
p.w638l img, p.w638r img, 
p.w639l img, p.w639r img, 
p.w640l img, p.w640r img, 
p.w641l img, p.w641r img, 
p.w642l img, p.w642r img, 
p.w643l img, p.w643r img, 
p.w644l img, p.w644r img, 
p.w645l img, p.w645r img, 
p.w660l img, p.w660r img, 
p.w700l img, p.w700r img, 
p.w720l img, p.w720r img, 
p.w800l img, p.w800r img { width: 100%; min-width: 300px; }
}

@media screen and (max-width: 899px) {
p.w150l, p.w150r, 
p.w300l, p.w300r, 
p.w330l, p.w330r, 
p.w450l, p.w450r, 
p.w455l, p.w455r, 
p.w460l, p.w460r, 
p.w466l, p.w466r, 
p.w467l, p.w467r, 
p.w490l, p.w490r, 
p.w506l, p.w506r, 
p.w507l, p.w507r, 
p.w519l, p.w519r, 
p.w520l, p.w520r, 
p.w521l, p.w521r, 
p.w530l, p.w530r, 
p.w531l, p.w531r, 
p.w532l, p.w532r, 
p.w533l, p.w533r, 
p.w534l, p.w534r, 
p.w535l, p.w535r, 
p.w540l, p.w540r, 
p.w562l, p.w562r, 
p.w563l, p.w563r, 
p.w570l, p.w570r, 
p.w572l, p.w572r, 
p.w573l, p.w573r, 
p.w599l, p.w599r, 
p.w600l, p.w600r, 
p.w601l, p.w601r, 
p.w638l, p.w638r, 
p.w639l, p.w639r, 
p.w640l, p.w640r, 
p.w641l, p.w641r, 
p.w642l, p.w642r, 
p.w643l, p.w643r, 
p.w644l, p.w644r, 
p.w645l, p.w645r, 
p.w660l, p.w660r, 
p.w700l, p.w700r, 
p.w720l, p.w720r, 
p.w800l, p.w800r { margin: 25px 0; padding: 5px 0 15px 0 !important; }

p.w150l img, p.w150r img { width: 100%; margin: 10px auto 20px auto; display: block; clear:both; }
p.w300l img, p.w300r img, 
p.w330l img, p.w330r img, 
p.w450l img, p.w450r img, 
p.w455l img, p.w455r img, 
p.w460l img, p.w460r img, 
p.w466l img, p.w466r img, 
p.w467l img, p.w467r img, 
p.w490l img, p.w490r img, 
p.w506l img, p.w506r img, 
p.w507l img, p.w507r img, 
p.w519l img, p.w519r img, 
p.w520l img, p.w520r img, 
p.w521l img, p.w521r img, 
p.w530l img, p.w530r img, 
p.w531l img, p.w531r img, 
p.w532l img, p.w532r img, 
p.w533l img, p.w533r img, 
p.w534l img, p.w534r img, 
p.w535l img, p.w535r img, 
p.w540l img, p.w540r img, 
p.w562l img, p.w562r img, 
p.w563l img, p.w563r img, 
p.w570l img, p.w570r img, 
p.w572l img, p.w572r img, 
p.w573l img, p.w573r img, 
p.w599l img, p.w599r img, 
p.w600l img, p.w600r img, 
p.w601l img, p.w601r img, 
p.w638l img, p.w638r img, 
p.w639l img, p.w639r img, 
p.w640l img, p.w640r img, 
p.w641l img, p.w641r img, 
p.w642l img, p.w642r img, 
p.w643l img, p.w643r img, 
p.w644l img, p.w644r img, 
p.w645l img, p.w645r img, 
p.w660l img, p.w660r img, 
p.w700l img, p.w700r img, 
p.w720l img, p.w720r img, 
p.w800l img, p.w800r img { width: 100%; min-width: 300px; margin: 10px auto 20px auto; display: block; clear:both; }
}

blockquote p.w150, blockquote p.w150l, blockquote p.w150r, 
blockquote p.w300, blockquote p.w300l, blockquote p.w300r, 
blockquote p.w330, blockquote p.w330l, blockquote p.w330r, 
blockquote p.w450, blockquote p.w450l, blockquote p.w450r, 
blockquote p.w455, blockquote p.w455l, blockquote p.w455r, 
blockquote p.w460, blockquote p.w460l, blockquote p.w460r, 
blockquote p.w466, blockquote p.w466l, blockquote p.w466r, 
blockquote p.w467, blockquote p.w467l, blockquote p.w467r, 
blockquote p.w490, blockquote p.w490l, blockquote p.w490r, 
blockquote p.w506, blockquote p.w506l, blockquote p.w506r, 
blockquote p.w507, blockquote p.w507l, blockquote p.w507r, 
blockquote p.w519, blockquote p.w519l, blockquote p.w519r, 
blockquote p.w520, blockquote p.w520l, blockquote p.w520r, 
blockquote p.w521, blockquote p.w521l, blockquote p.w521r, 
blockquote p.w530, blockquote p.w530l, blockquote p.w530r, 
blockquote p.w531, blockquote p.w531l, blockquote p.w531r, 
blockquote p.w532, blockquote p.w532l, blockquote p.w532r, 
blockquote p.w533, blockquote p.w533l, blockquote p.w533r, 
blockquote p.w534, blockquote p.w534l, blockquote p.w534r, 
blockquote p.w535, blockquote p.w535l, blockquote p.w535r, 
blockquote p.w540, blockquote p.w540l, blockquote p.w540r, 
blockquote p.w562, blockquote p.w562l, blockquote p.w562r, 
blockquote p.w563, blockquote p.w563l, blockquote p.w563r, 
blockquote p.w570, blockquote p.w570l, blockquote p.w570r, 
blockquote p.w572, blockquote p.w572l, blockquote p.w572r, 
blockquote p.w573, blockquote p.w573l, blockquote p.w573r, 
blockquote p.w599, blockquote p.w599l, blockquote p.w599r, 
blockquote p.w600, blockquote p.w600l, blockquote p.w600r, 
blockquote p.w638, blockquote p.w638l, blockquote p.w638r, 
blockquote p.w639, blockquote p.w639l, blockquote p.w639r, 
blockquote p.w640, blockquote p.w640l, blockquote p.w640r, 
blockquote p.w641, blockquote p.w641l, blockquote p.w641r, 
blockquote p.w642, blockquote p.w642l, blockquote p.w642r, 
blockquote p.w643, blockquote p.w643l, blockquote p.w643r, 
blockquote p.w644, blockquote p.w644l, blockquote p.w644r, 
blockquote p.w645, blockquote p.w645l, blockquote p.w645r, 
blockquote p.w660, blockquote p.w660l, blockquote p.w660r, 
blockquote p.w700, blockquote p.w700l, blockquote p.w700r, 
blockquote p.w720, blockquote p.w720l, blockquote p.w720r, 
blockquote p.w800, blockquote p.w800l, blockquote p.w800r { margin-top: 0 !important; margin-bottom: 0 !important; padding-bottom: 0 !important; }


ul.w1p { margin: 0 0 -10px 0; padding: 15px 0 10px 0; list-style: none; line-height: 0; }
ul.w1p:after { content: "."; height: 0; clear: both; display: block; visibility: hidden; }
ul.w1p li { width: 100%; margin-bottom: 20px; padding: 0; font-size: 10pt; line-height: 1.6em; /* text-align: justify;*/ }
ul.w1p li img { width: 100%; height: auto; margin-bottom: 10px; }
ul.w1p li a { color: #09c; text-decoration: none; }
ul.w1p li a { text-decoration: none; }

ul.w2p { margin: 0 0 -10px 0; padding: 15px 0 10px 0; list-style: none; line-height: 0; }
ul.w2p:after { content: "."; height: 0; clear: both; display: block; visibility: hidden; }
ul.w2p li { width: 48%; margin-bottom: 20px; margin-right: 2%; padding: 0; font-size: 10pt; line-height: 1.6em; /* text-align: justify;*/ float: left; }
ul.w2p li:nth-child(2n) { margin-right: 0; padding: 0; float: right; }
ul.w2p li:nth-child(2n+1) { clear: both; }
ul.w2p li img { width: 100%; height: auto; margin-bottom: 10px; }
ul.w2p li a { color: #09c; text-decoration: none; }
ul.w2p li a { text-decoration: none; }

ul.w3p { margin: 0 0 -10px 0; padding: 15px 0 10px 0; list-style: none; line-height: 0; }
ul.w3p:after { content: "."; height: 0; clear: both; display: block; visibility: hidden; }
ul.w3p li { width: 32%; margin-bottom: 20px; margin-right: 2%; padding: 0; font-size: 10pt; line-height: 1.6em; /* text-align: justify;*/ float: left; }
ul.w3p li:nth-child(3n) { margin-right: 0; padding: 0; }
ul.w3p li:nth-child(3n+1) { clear: both; }
ul.w3p li img { width: 100%; height: auto; margin-bottom: 10px; }
ul.w3p li a { color: #09c; text-decoration: none; }
ul.w3p li a { text-decoration: none; }


@media screen and (max-width: 600px) {
	ul.w2p li { font-size: 9pt; line-height: 1.5em; }
}

ul.w2t { margin: 0 0 -10px 0; padding: 15px 0 10px 0; list-style: none; line-height: 0; }
ul.w2t:after { content: "."; height: 0; clear: both; display: block; visibility: hidden; }
ul.w2t li { width: 48%; margin-bottom: 20px; padding: 0 2% 0 0; font-size: 10pt; line-height: 1.6em; /* text-align: justify;*/ float: left; }
ul.w2t li:nth-child(2n) { padding: 0 0 0 2%; float: right; }
ul.w2t li:nth-child(2n+1) { clear: both; }
ul.w2t li img { width: auto !important; height: auto !important; margin-bottom: 10px; }
ul.w2t li a { color: #09c; text-decoration: none; }
ul.w2t li a { text-decoration: none; }

@media screen and (max-width: 600px) {
	ul.w2t li { width: 100%; padding: 0; font-size: 9pt; line-height: 1.5em; float: none; }
	ul.w2t li:nth-child(2n) { padding: 0; float: none; }
}

ul.w2x { margin: 0 0 -10px 0; padding: 15px 0 10px 0; list-style: none; line-height: 0; }
ul.w2x:after { content: "."; height: 0; clear: both; display: block; visibility: hidden; }
ul.w2x li { width: 48%; margin-bottom: 20px; padding: 0 2% 0 0; font-size: 10pt; line-height: 1.6em; /* text-align: justify;*/ float: left; }
ul.w2x li:nth-child(2n) { padding: 0 0 0 2%; float: right; }
ul.w2x li:nth-child(2n+1) { clear: both; }
ul.w2x li img { max-width: 100%; height: auto; margin-bottom: 10px; }
ul.w2x li a { color: #09c; text-decoration: none; }
ul.w2x li a { text-decoration: none; }

@media screen and (max-width: 600px) {
	ul.w2x li { width: 100%; padding: 0; font-size: 9pt; line-height: 1.5em; float: none; }
	ul.w2x li:nth-child(2n) { padding: 0; float: none; }
}


/* YouTube */
.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
		margin-bottom: 40px;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}


/* 20170405 drawer */
#sidenavi {
	display: none;
}
@media screen and (max-width: 767px) {
	#sidenavi {
		display: block;
	}
	.main-nav {
		display: none;
	}
}


/* 20170718 特集記事用 */
.col-md-12 .focus {
	margin: -30px 0 0px 0;
	padding: 0;
	font-family: "Open Sans";
}
.col-md-12 .focus .title {
	height: 40px;
}
.col-md-12 .focus .title h3 {
	height: 40px;
	margin: 0 20px 0 0;
	padding: 0 5px;
	font-size: 180%;
	font-weight: bold;
	line-height: 40px;
	vertical-align: middle;
	float: left;
}
.col-md-12 .focus .title h4 {
	height: 40px;
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 140%;
	font-weight: bold;
	text-align: right;
	line-height: 40px;
	vertical-align: middle;
	float: right;
}
.col-md-12 .focus .title h4 span {
	margin-left: 5px;
	font-weight: normal;
}
.col-md-12 .focus > h3 {
	padding: 0 0 0 5px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	font-size: 150%;
	font-weight: bold;
}
@media screen and (max-width: 767px) {
	.col-md-12 .focus .title {
		heihgt: 55px;
	}
	.col-md-12 .focus .title h3 {
		height: 30px;
		margin: 0;
		font-size: 140%;
		line-height: 30px;
		float: none;
	}
	.col-md-12 .focus .title h4 {
		height: 25px;
		margin: 0;
		padding: 0 0 0 5px;
		font-size: 100%;
		text-align: left;
		line-height: 25px;
		float: none;
	}
}
	.col-md-12 .focus p {
		margin: 0;
		padding: 30px 5px;
	}
	.col-md-12 .focus p img {
	 width: 464px;
		height: auto;
	}

@media screen and (max-width: 500px) {
	.col-md-12 .focus p img {
	 width: 100%;
		height: auto;
	}
}


/* Paging */
div.paging { margin-top:60px; margin-bottom: 40px; font-size:13px; }
div.paging:after { content: "."; height: 0; clear: both; display: block; visibility: hidden; }
div.pagingCenter a, div.pagingCenter span, div.pagingLeft a, div.pagingRight a { padding:4px 8px; }

div.paging {
	margin-bottom:60px;
}

div.pagingLeft {
	width:260px;
	float:left;
}

div.pagingCenter {
	width:440px;
	float:left;
	text-align: center;
}

div.pagingRight {
	width:260px;
	float:left;
	text-align: right;
}

div.pagingCenter span {
	padding:4px;
	border:1px solid #3B5E67;
	background:#fff;
	color:#3B5E67;
	margin-right: 6px;
}

div.pagingCenter a {
	padding:4px;
	border:1px solid #3B5E67;
	background:#5C7886;
	color:white;
	margin-right: 6px;
}

div.pagingLeft span {
	padding:4px;
	margin:4px;
	border:1px solid #3B5E67;
	background:#fff;
	color:#3B5E67;
}

div.pagingLeft a {
	padding:4px;
	border:1px solid #3B5E67;
	background:#5C7886;
	color:white;
}

p.blank {
	color:white;
	margin: 0;
	padding: 0;
}

div.pagingRight span {
	padding:4px;
	margin:4px;
	border:1px solid #3B5E67;
	background:#fff;
	color:#3B5E67;
}

div.pagingRight a {
	padding:4px;
	border:1px solid #3B5E67;
	background:#5C7886;
	color:white;
}

div.nextButton {
padding:10px 0;
}
